<h1>ログインするよ</h1>

<%= form_for(:session, url: sessions_path) do |f| %>

<p>
	<%= f.label :email %><br>
	<%= f.text_field :email %><br>
	<%= f.label :password_digest %><br>
	<%= f.text_field :password_digest %><br>
	<%= f.label :password_confirmation %><br>
	<%= f.text_field :password_confirmation %>

</p>

<p>
	<%= f.submit %>
</p>

<% end %>

